:root{
    --primarycolor: #ff274b;
    --secondarycolor: #f7bcf7;
    --lightcolor: #ffffff;
    --bgcolor-1: #171a1c;
    --bgcolor-2: #22282a;
    --padding: 8%;
}
.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {

color: var(--lightcolor);

}
.home{
    width: 100%;
    height: 100vh;
    background-color: var(--bgcolor-1);
    display: flex;
    flex-direction: column;
}
h2{
    font-size: 2.2rem;
    letter-spacing: 0.12rem;
    cursor: pointer;
}
nav{
    padding: 2.8rem;
    padding-left: var(--padding);
    padding-right: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0.8rem 1.5rem;
}
nav ul li a{
    color: var(--lightcolor);
    text-decoration: none;
    text-transform: capitalize;
}
button{ color: #ff274b;}
.social{
    margin-top: 3.5rem; 


}
.social image{
    margin-right: 2rem;
    width: 2.5rem;
    transition: calc(0.4s);
}
.content{
flex-grow: 1;
padding: 0 var(--padding);

}
.container-images {
width: 45%;
height: 90%;
position: relative;
align-self: flex-end;
}
.container-images img {
position: absolute;
bottom: 0;
height: 100%;
left: 50%;
transform: translateY(-50%);
}
.12-images {
    width: 30%;
    height: 30%;
    position: relative;
    align-self: flex-end;  
}
.12-images img{
    position: absolute;
bottom: 0;
height: 100%;
left: 50%;
transform: translateY(-50%);
}